// Utilities
$columns: 24;
$small-columns: 12;

$phone : 767px;
$medium : 1250px;

//16:9 aspect ratio will result in 9 / 16 * 100% = 56.25%;
//4:3 aspect ratio will result in 3 / 4 * 100% = 75%;
//1:1 aspect ratio will result in 1 / 1 * 100% = 100%.
body {
    overflow: hidden;
    overflow-y: auto;

    &.no-scroll {
        overflow: hidden;
    }
}

.arrow { 
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;
    position: relative;
  
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      border-style: solid;
      border-color: #000;
      border-width: 2px 2px 0 0;
      position: absolute;
      transform-origin: 50% 50%;
    }
    &.right::before { 
      transform: rotate(0deg); 
      margin: -15px 0 0 -20px;
    }
    &.right::after { 
      width: 40px;
      height: 0;
      border-width: 2px 0 0 0;
      transform: translate(-26px, 0px) rotate(-45deg);
    }
}
.spacer {
    padding: 250px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 100%;

    @media only screen and (max-width: $phone) {
        padding: 80px 24px;
    }
}
  
div[class^="col-"]{
    //background: pink;
    //border: 1px solid red;
    
}

.pill {
    border: .5px solid currentColor;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: 0.75rem;
    border-radius: 100px;
    display: inline-block;
    text-indent:.25rem;
    margin: 0 16px 16px 0;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        padding: 8px 20px;
    }
    &:last-child {
        margin-right: 0;
    }
}

p {
    font-size: 1.25rem;
}

.offset-0 {
    margin-left: 0;
}

.max-width-16of24{
    max-width: calc(100% / 24 * 16);
    @media only screen and (max-width: $medium){
        max-width: calc(100% / 24 * 20);
    }

    @media only screen and (max-width: $phone) {
        max-width: 100%;
        padding: 24px;
    }
    
}

@for $i from 1 through $columns {
    .col-#{$i}of24 {
        width: calc(100% / $columns * $i);
    }
    .offset-#{$i}of24{
        margin-left: calc(100% / $columns * $i);
    } 
}

@media only screen and (max-width: $medium) {
    @for $i from 1 through $columns {
        .col-md-#{$i}of24 {
            width: calc(100% / $columns * $i);
        }
        .offset-md-#{$i}{
            margin-left: calc(100% / $columns * $i);
        } 
    }
}

@media only screen and (max-width: $phone) {
    @for $i from 1 through $small-columns {
        .col-sm-#{$i}of12 {
            width: calc(100% / $small-columns * $i);
        }
        .offset-sm-#{$i}{
            margin-left: calc(100% / $small-columns * $i);
        } 
    }
}

@media only screen and (max-width: $phone) {
    .offset-sm-0 {
        margin-left: 0;
    }
}

// Other utilities

.video-container {
    position: relative;
    padding-top: 56.25%;
  }
  
  .video {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .aspect-ratio--16-9 {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;

    &.lg {
        @media only screen and (max-width: 600px) {
            padding-top: 100%;
        }
    }

    &.double {
        @media only screen and (max-width: 600px) {
            padding-top: 200%;
        }
    }  
  }

.two-images {
    width: 100%;
    height: 56.25%;
    display: flex;
      
    position: relative;

    @media only screen and (max-width: 600px) {
        height: auto;
        flex-wrap: wrap;
    }

      .image-wrap {

        width: 100%;

        @media only screen and (max-width: 600px) {
           aspect-ratio: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
      }
  }

a.link {
    padding-bottom: 8px;
   
    &:hover {
        &::before{
       transform: scaleX(0);
        }
    }

    &::before{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: black;
        -webkit-transition: -webkit-transform .5s cubic-bezier(.4,.22,.21,1.04);
        transition: -webkit-transform .5s cubic-bezier(.4,.22,.21,1.04);
        -o-transition: -o-transform .5s cubic-bezier(.4,.22,.21,1.04);
        -moz-transition: transform .5s cubic-bezier(.4,.22,.21,1.04),-moz-transform .5s cubic-bezier(.4,.22,.21,1.04);
        transition: transform .5s cubic-bezier(.4,.22,.21,1.04);
        transition: transform .5s cubic-bezier(.4,.22,.21,1.04),-webkit-transform .5s cubic-bezier(.4,.22,.21,1.04),-moz-transform .5s cubic-bezier(.4,.22,.21,1.04),-o-transform .5s cubic-bezier(.4,.22,.21,1.04);
    }
}

p {
    font-weight: 300;
    letter-spacing: .05rem;
    font-family: Cardo, serif;
}

.overline {
    letter-spacing: .25rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}

.padded {
    padding:40px;
    @media only screen and (max-width: 1200px) {
        padding:20px;
      }
}

.max-width-project {
    max-width: 85%;

    @media only screen and (max-width: 700px) {
        max-width: 100%;
    }
}


//image

.image-container {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    
    .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        right: 0;
        top: 0;
    }

    img {
        object-fit: cover;
        position: absolute;
        width: 100%; 
    }

    
}
